/* Coolors Exported Palette - https://coolors.co/c83e4d-f06449-464646-6b0f1a-eac435 */

/* CSS */
--color1: hsla(353%, 69%, 78%, 1);
--color2: hsla(10%, 70%, 94%, 1);
--color3: hsla(0%, 0%, 27%, 1);
--color4: hsla(353%, 86%, 42%, 1);
--color5: hsla(47%, 77%, 92%, 1);

/* HEX */
$color1: #c83e4dff;
$color2: #f06449ff;
$color3: #464646ff;
$color4: #6b0f1aff;
$color5: #eac435ff;

/* HSL */
$color1: hsla(353%, 69%, 78%, 1);
$color2: hsla(10%, 70%, 94%, 1);
$color3: hsla(0%, 0%, 27%, 1);
$color4: hsla(353%, 86%, 42%, 1);
$color5: hsla(47%, 77%, 92%, 1);

/* RGB */
$color1: rgba(200, 62, 77, 1);
$color2: rgba(240, 100, 73, 1);
$color3: rgba(70, 70, 70, 1);
$color4: rgba(107, 15, 26, 1);
$color5: rgba(234, 196, 53, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-right: linear-gradient(90deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-bottom: linear-gradient(180deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-left: linear-gradient(270deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-top-right: linear-gradient(45deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-bottom-right: linear-gradient(135deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-top-left: linear-gradient(225deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-bottom-left: linear-gradient(315deg, #c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);
$gradient-radial: radial-gradient(#c83e4dff, #f06449ff, #464646ff, #6b0f1aff, #eac435ff);